@import url('http://fonts.googleapis.com/css?family=Noto+Sans');

body {
    padding: 10px;
	font-family: 'noto sans',sans-serif;
	font-size: 14px;
	line-height: 1.6;
	color: #333333;
}

text {
	position: absolute;
	font-size: 70px;
	width: 600px;
	height: 300px;
	margin-left: -300px;
	text-align: center;
	left: 50%;
	top: 50%;
	margin-top: -150px;
	z-index: 9;
}

h2 {
	font-size: 40%;
	margin-top: 11px;
}







